### Ejercicio 1:

Realiza una variable con tu matrícula y realiza una secuencia de imprimir con tu nombre y tu matrícula concatenados.

In [17]:
mat=1799219
nom="Sofía Pamela Rosales Garza"

print(nom,mat)

Sofía Pamela Rosales Garza 1799219

### Ejercicio 2:

Pidiendo el input del usuario pide dos números y crea una pequeña calculadora con los operadores básicos de suma, resta, multiplicación, división, y exponente.

In [12]:
num1=int(input("Introduce un número entero: "))
num2=int(input("Introduce otro número entero: "))

suma=num1+num2
resta=num1-num2
multi=num1*num2
div=num1/num2
exp=num1**num2

print("Suma:",num1,"+",num2,"=",suma)
print("Resta:",num1,"-",num2,"=",resta)
print("Multiplicación:",num1,"*",num2,"=",multi)
print("División:",num1,"/",num2,"=",div)
print("Exponente:",num1,"**",num2,"=",exp)

Introduce un número entero: 2
Introduce otro número entero: 2
Suma: 2 + 2 = 4
Resta: 2 - 2 = 0
Multiplicación: 2 * 2 = 4
División: 2 / 2 = 1.0
Exponente: 2 ** 2 = 4

### Ejercicio 3:

Con loop while o for, realiza una lista de 10 números múltiplos de 3, y después realiza una función de loop que sume todos los números dentro del arreglo.

In [28]:
suma=0
for i in range(1,11):
    mult=i*3
    suma=suma+mult
    print("Número",i,":",mult)
print("La suma de los números es ",suma)

Número 1 : 3
Número 2 : 6
Número 3 : 9
Número 4 : 12
Número 5 : 15
Número 6 : 18
Número 7 : 21
Número 8 : 24
Número 9 : 27
Número 10 : 30
La suma de los números es  165

### Ejercicio 4:

- Con una función de if else, revisar si un número es par o es impar.
- Con una función de if else, revisar si un número es primo o no.

In [18]:
a=int(input("Introduce un número: "))
if a%2==0:
    print("El número",a,"es par")
else:
    print("El número",a,"no es par")

Introduce un número: 3
El número 3 no es par

In [29]:
b=int(input("Introduce un número: "))
p=0
for i in range(2,b):
    if b%i!=0:
        continue
    else:
        p=p+1
        break
if p>0:
    print("El número",b,"no es primo")
else:
    print("El número",b,"es primo")

Introduce un número: 2
El número 2 es primo

### Ejercicio 5:

Utilizando diferentes clases en python, crea una calculadora con los operadores básicos de suma, resta, multiplicación, división, y exponente.

In [1]:
def Suma(a,b):
    c=a+b
    return c
def Resta(a,b):
    c=a-b
    return c
def Multiplicación(a,b):
    c=a*b
    return c
def División(a,b):
    c=a/b
    return c
def Exponente(a,b):
    c=a**b
    return c
w=int(input("Ingresa un número: "))
z=int(input("Ingresa un segundo número: "))
print("Suma:", Suma(w,z))
print("Resta:", Resta(w,z))
print("Multiplicación:", Multiplicación(w,z))
print("División:", División(w,z))
print("Exponente:", Exponente(w,z))

Ingresa un número: 5
Ingresa un segundo número: 4
Suma: 9
Resta: 1
Multiplicación: 20
División: 1.25
Exponente: 625

### Ejercicios con estructuras básicas de python
### Tuplas
- Crear una variable flotante, integer, boleana y compleja e imprimir el tipo de variable que es.

In [25]:
f=15.2
print("La variable f =",f,"es de tipo:", type(f))
i=11
print("La variable i =",i,"es de tipo:", type(i))
b=True
print("La variable b =",b,"es de tipo:", type(b))
c=1j
print("La variable c =",c,"es de tipo:", type(c))

La variable f = 15.2 es de tipo: <class 'float'>
La variable i = 11 es de tipo: <class 'int'>
La variable b = True es de tipo: <class 'bool'>
La variable c = 1j es de tipo: <class 'complex'>

- Crear una tupla con valores enteros imprimir el primer y último valor.

In [70]:
t=(9,15,30)
print("El primer valor de la tupla es:",t[0])
print("El último valor de la tupla es:",t[2])

El primer valor de la tupla es: 9
El último valor de la tupla es: 30

- Añadir 3 valores de string a la tupla.

In [71]:
t=t.__add__(("valor1","valor2","valor3"))
t
#https://stackoverflow.com/questions/56633922/usage-of-add-method-in-tuple-class#:~:text=%2C%20b%2C%20c)-,tuple.,contrast%20to%20something%20like%20list.

(9, 15, 30, 'valor1', 'valor2', 'valor3')

- Verificar si una variable existe dentro de la tupla.

In [74]:
15 in t

True

In [75]:
"Hola" in t

False

### Listas

- Crear una lista con 40 elementos aleatorios enteros.

In [126]:
import random as r
lista=range(0,100)
lista=r.sample(lista,k=40)
print(lista)

[20, 35, 90, 97, 67, 14, 39, 66, 58, 85, 34, 83, 76, 5, 19, 18, 81, 77, 13, 37, 25, 60, 68, 50, 59, 71, 53, 36, 4, 54, 92, 65, 79, 72, 64, 23, 62, 24, 17, 9]

- Con una función (def) crear dos listas nuevas a partir de la lista creada por números aleatorios, en la cual en una esten los elementos pares, y en la otra los elementos impares.

In [127]:
listap=[]
listaimp=[]
def listapi(lista,listap, listaimp):
    for i in range(0,40):
        num = lista[i]
        if num%2==0:
            listap.append(num)
        else:
            listaimp.append(num)
    lp=listap
    li=listaimp

listapi(lista,listap,listaimp)
print("Lista de números pares:",listap)
print("Lista de números impares:",listaimp)

Lista de números pares: [20, 90, 14, 66, 58, 34, 76, 18, 60, 68, 50, 36, 4, 54, 92, 72, 64, 62, 24]
Lista de números impares: [35, 97, 67, 39, 85, 83, 5, 19, 81, 77, 13, 37, 25, 59, 71, 53, 65, 79, 23, 17, 9]

- Crear dos variables con la longitud de ambas listas nuevas e imprimir las variables.

In [128]:
lonp=len(listap)
lonimp=len(listaimp)
print("La longitud de la lista de números pares es de:",lonp)
print("La longitud de la lista de números impares es de:",lonimp)

La longitud de la lista de números pares es de: 19
La longitud de la lista de números impares es de: 21

- Ordenar los elementos de la lista par de mayor a menor, y los de la lista impar de menor a mayor.

In [129]:
#https://uniwebsidad.com/libros/algoritmos-python/capitulo-7/ordenar-listas#:~:text=Python%20provee%20dos%20operaciones%20para,se%20usa%20la%20funci%C3%B3n%20sorted%20.&text=Para%20modificar%20directamente%20la%20lista%20original%20usaremos%20la%20operaci%C3%B3n%20sort()%20.
lpo=sorted(listap)
print("Pares:",lpo)
limpo=sorted(listaimp,reverse=True)
print("Impares:",limpo)

Pares: [4, 14, 18, 20, 24, 34, 36, 50, 54, 58, 60, 62, 64, 66, 68, 72, 76, 90, 92]
Impares: [97, 85, 83, 81, 79, 77, 71, 67, 65, 59, 53, 39, 37, 35, 25, 23, 19, 17, 13, 9, 5]

- Utilizar al menos cuatro de las funciones de listas en python en la lista original de 40 elementos.

In [130]:
lista.append(200)
print(lista)

[20, 35, 90, 97, 67, 14, 39, 66, 58, 85, 34, 83, 76, 5, 19, 18, 81, 77, 13, 37, 25, 60, 68, 50, 59, 71, 53, 36, 4, 54, 92, 65, 79, 72, 64, 23, 62, 24, 17, 9, 200]

In [131]:
lista.extend([1000])
print(lista)

[20, 35, 90, 97, 67, 14, 39, 66, 58, 85, 34, 83, 76, 5, 19, 18, 81, 77, 13, 37, 25, 60, 68, 50, 59, 71, 53, 36, 4, 54, 92, 65, 79, 72, 64, 23, 62, 24, 17, 9, 200, 1000]

In [132]:
lista.reverse()
print(lista)

[1000, 200, 9, 17, 24, 62, 23, 64, 72, 79, 65, 92, 54, 4, 36, 53, 71, 59, 50, 68, 60, 25, 37, 13, 77, 81, 18, 19, 5, 76, 83, 34, 85, 58, 66, 39, 14, 67, 97, 90, 35, 20]

In [133]:
max(lista)

1000

### Diccionarios
- Crear un diccionario de 6 personas que conozcas con su primer nombre y su edad.

In [5]:
dic1={'Sofía': 20, 'Valeria': 21, 'Deyanira': 28, 'Mario': 17, 'Nancy': 48, 'José': 2}
print(dic1)

{'Sofía': 20, 'Valeria': 21, 'Deyanira': 28, 'Mario': 17, 'Nancy': 48, 'José': 2}

- Crear una lista con los valores de la edad y reacomodar la lista de menor a mayor valor.

In [6]:
sorted(dic1.values())

[2, 17, 20, 21, 28, 48]

- Usando el diccionario y un loop, imprimir solo los nombres.

In [7]:
for i in dic1:
    print(i)

Sofía
Valeria
Deyanira
Mario
Nancy
José

- Añadir dos personas nuevas a tu diccionario, incluyendo edad.

In [11]:
dic1['Alejandro']=29
dic1['Ivonne']=21
print(dic1)

{'Sofía': 20, 'Valeria': 21, 'Deyanira': 28, 'Mario': 17, 'Nancy': 48, 'José': 2, 'Alejandro': 29, 'Ivonne': 21}

### Sets
- Crea un set con 100 numeros aleatorios enteros del 1 al 25.

In [20]:
import random
set1={random.randint(1,25)}
for i in range(0,99):
    set1.add(random.randint(1,25))

print(set1)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25}

- Comprueba la longitud de tu set.

In [21]:
len(set1)

25

- Crea una lista de 5 números aleatorios del 1 al 10 y comprueba si cada valor aparece en el set inicial.

In [27]:
for i in range(0,9):
    a=r.randint(0,100)
    print("¿El número", a, "se encuentra en el set?")
    print(a in set1)

¿El número 86 se encuentra en el set?
False
¿El número 97 se encuentra en el set?
False
¿El número 3 se encuentra en el set?
True
¿El número 90 se encuentra en el set?
False
¿El número 44 se encuentra en el set?
False
¿El número 71 se encuentra en el set?
False
¿El número 99 se encuentra en el set?
False
¿El número 31 se encuentra en el set?
False
¿El número 13 se encuentra en el set?
True